/* QR Menu Custom CSS */


/* Global */
.bg-white {background-color: #f4f4f4;}

/* Header */
.searchBox input {border: none; border-radius: 0; background: transparent; border-bottom: 1px solid #bdbdbd; font-size: 17px;}
.searchBox input:focus {--tw-ring-color: transparent;}
.searchBox.cFullW {max-width: 100%;}
.linkBar .h-5.link-insta {}
.linkBar .h-5.link-ta {width: 1.50rem; height: 1.50rem}


/* Body */
	/* Category Cards */
.main-wrapper {}
		.CatCards {padding: 4rem 1.25rem;}
		.CatCards .card {background: #FFFFFF; border-radius: 1.25rem; height: 10rem}
			.CatCards .cardImg {width: 90%; height: 90%; margin: 0 auto; margin-top: -2.25rem}
			.CatCards .cardImg img {position: relative !important; border-radius: 1.25rem;}
			.CatCards .cardTitle {background: none; position: relative; top: -2.325rem; padding: 0; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem; color: #000000;}
				.cardWrapper h3 {font-size: 1.3rem; font-weight: 300; color: #2566AD; margin-top: 0.85rem}
			.CatCards .cardLink {overflow: inherit; margin-bottom: 1rem;}
	/* Search Results */
	.searchResults {margin: -6.75rem 1.25rem 0 1.25rem;}

	/* Sub Category*/
	.catTitle .selectedSubCat {color: #141414; font-weight: 400; font-size: 1.15rem}
	.catTitle .subTitle {color: #141414; font-weight: 400; font-size: 1.3rem}
	.catTitle .selectedSubCat {font-weight: 300;}
	.subCatItems {margin: 1.25rem}
	.itemName {font-weight: 500; color: #2764AF; font-size: 1.3rem; line-height: 1.6rem; padding: 0 1.25rem 0.25rem 0}
	.itemDesc {color: #8a8a8a; font-size: 1.1rem; line-height: 1.6rem}
	.itemPrice {font-weight: 700; color: #2566ae;}
	.itemNameWrapper{display: flex; justify-content: space-between;}
	.mainItem, .mainItem > div {flex: 1}
	.itemBox {background: #FFFFFF;}

	/* Item Details */
	.itemDetails {padding-top: 3.50rem}
	.imgWrapper {background: #FFFFFF; border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem;}
	.imgWrapper .imgBox {width: 90%; height: 90%; margin: 0 auto; margin-bottom: -2.25rem}
		.imgWrapper .imgBox img {position: relative !important; top: -2.25rem !important; border-radius: 1.25rem}
	.itemDetailsWrapper {text-align: center; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem;}
	.itemDetailsWrapper .itemDetails .itemName {padding: 0}
	.itemDetailsWrapper .itemCat {font-size: 0.85rem; color: #CCCCCC;}
	.itemDetailsWrapper {padding: 1.25rem; background: #FFFFFF}
	.itemDetailsWrapper .topWrapper {padding-bottom: 0.25rem}
	.itemDetailsWrapper .itemName, .itemDetailsWrapper .itemPrice {font-size: 2rem; line-height: 2.6rem; width: 100%; padding: 0}
	.itemDetailsWrapper .itemDesc {font-size: 1.3rem; line-height: 1.6rem}
	.itemDetailsWrapper .itemAllergens {padding-top: 1.25re;}
		.itemDetailsWrapper .itemAllergens .allergenTitle {font-size: 1rem; color: #000000; padding: 1.25rem 0 0.45rem 0; font-weight: 700}
	.itemHeader .subTitle {color: #141414; font-weight: 400; font-size: 1.3rem; line-height: 1.6rem;}

	/* SimilarItems */
	.similarItems {display: none;}
